<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>


        <div class="container">
            <h4 class="my-3"> Create New Venue : </h4>

            <form method="POST" action="/venue">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="venue" id="venue" placeholder="Venue Name" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="text" name="maximumPlayer" id="maximumPlayer" placeholder="Maximum Player"
                                class="form-control">
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-block mt-3">Create</button>

                        <a class="btn btn-info btn-block mt-3" href="venue/list" role="button">Venue List</a>
                    </div>
                </div>





            </form>
        </div>
        <br>


        <%- include('../layouts/footer') %>