<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>
        <div class="container">

            <h4 class="my-3">Venue list :</h4>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">Venue ID</th>
                        <th scope="col">Venue Name</th>
                        <th scope="col">Max Player</th>

                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% venues.forEach( venue=> { %>
                        <tr>
                            <th scope="row">
                                <%= venue.id %>
                            </th>
                            <td>
                                <%= venue.venue %>
                            </td>
                            <td>
                                <%= venue.maximumPlayer %>
                            </td>

                            <td>
                                <a class="btn btn-success" href="venue/details/<%= venue.id %>"
                                    role="button">Details</a>
                                <a class="btn btn-warning" href="venue/update/<%= venue.id %>" role="button">Update</a>
                                <a class="btn btn-danger" href="venue/delete/<%= venue.id %>" role="button">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <br>
        <div class="container">
            <a class="btn btn-info" href="/venue/create" role="button">Create</a>
        </div>

        <%- include('../layouts/footer') %>