<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>

        <div class="container">

            <h4 class="my-3">Users Details :</h4>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">Venue ID</th>
                        <th scope="col">Venue Name</th>
                        <th scope="col">Max Player</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">
                            <%= detail.id %>
                        </th>
                        <td>
                            <%= detail.venue %>
                        </td>
                        <td>
                            <%= detail.maximumPlayer %>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

        <br>
        <div class="container">
            <a class="btn btn-info" href="/venue" role="button">Venue List</a>
        </div>

        <%- include('../layouts/footer') %>