<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>

        <div class="container">
            <h4 class="my-3">Update Venue :</h4>

            <form method="POST" action="/venue/update">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="id" id="id" value="<%=data.id%>" hidden>

                            <input type="text" name="venue" id="venue" placeholder="Venue Name" class="form-control"
                                value="<%=data.venue%>">
                        </div>

                        <div class="form-group">
                            <input type="text" name="maximumPlayer" id="maximumPlayer" placeholder="Maximum Player"
                                class="form-control" value="<%=data.maximumPlayer%>">
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning btn-block">Update</button>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-info" href="/venue" role="button">Cancel</a>
                    </div>
                </div>

            </form>
        </div>
        <br>
        <!-- <div class="container">
            <a class="btn btn-info" href="/venue/list" role="button">See all venue</a>
        </div> -->



        <%- include('../layouts/footer') %>