<!-- <div class="content"> -->
<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container-fluid">

        <div class="ml-5 w-25 order-0">
            <a class="navbar-brand" href="#">MyDashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse w-50 order-1 order-md-1" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/match">Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/venue">Venue</a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-25 order-3">
            <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item">
                    <a class="nav-link" href="/register">SIGN UP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">LOGON</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- </div> -->