<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Challenge Chapter 4</title>
    <link rel="stylesheet" href="/css/game.css">
</head>

<body>
    <div class="gamePage">

        <div class="container ml-5 pt-3">
            <a class="text-decoration-none text-dark" href="/">
                <i class="fa fa-chevron-left"></i>
                <img src="/img/logoGame.png" alt="" style="height:5vh;">
                <strong class="text-warning"> ROCK PAPER SCRISSORS</strong>
            </a>
            <div class="data mt-3">

                <div class="row justify-content-center align-items-center  text-center">

                    <!-- player selection -->
                    <div class="col-4">
                        <h3> PLAYER 1</h3>
                        <img src="/img/batu.png" class="img-fluid player playerBatu" name="Batu" id="Batu">
                        <img src="/img/kertas.png" class="img-fluid player playerKertas" name="Kertas" id="Kertas">
                        <img src="/img/gunting.png" class="img-fluid player playerGunting" name="Gunting" id="Gunting">

                    </div>

                    <!-- result -->
                    <div class="col-4">
                        <div id="gameResult" class="display-3 versus">VS</div>
                    </div>

                    <!-- random selection -->
                    <div class="col-4 random justify-content-center  text-center">
                        <h3> COM </h3>

                        <img src="/img/batu.png" class="img-fluid com" id="comBatu" name=>
                        <img src="/img/kertas.png" class="img-fluid com" id="comKertas">
                        <img src="/img/gunting.png" class="img-fluid com" id="comGunting">

                    </div>
                </div>

                <!-- refresh here  -->
                <div class="row pb-4 mt-0">
                    <div class="col-12">
                        <img src="/img/refresh.png" class="img-fluid" id="refreshBtn">
                    </div>
                </div>

            </div>
        </div>


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
<script src="/js/script.js"></script>

</html>