<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Binar Challenge</title>
    <!-- <link rel="stylesheet" href="/assets/css/home.css"> -->
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>

    <!-- mainPage using flex-->
    <div class="mainPage ">

        <!-- navigation  -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">

            <div class="ml-5 w-25 order-0">
                <a class="navbar-brand mx-auto" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse w-50 order-1 order-md-1">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-25 order-3">
                <ul class="navbar-nav ml-auto mr-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">SIGN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">LOGON</a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="d-flex flex-column justify-content-center text-white text-center" style="height: 100vh">
            <div class="content">

                <div class="display-3 p-5 mt-3">
                    PLAY TRADITIONAL GAME
                </div>
                <div class="p-2 mb-4">
                    <h4>Experience new traditional game play</h4>
                </div>

                <div class="p-2">
                    <a href="game"><button class="btn btn-warning">Play Now</button></a>
                </div>

                <div class="p-2 offset-0 align-content-end">
                    <p> </p>
                </div>
                <div class="p-2 offset-0 align-content-end">
                    <p> </p>
                </div>
            </div>

            <!-- <div class="footer"> -->
            <footer class="footer pt-5 mx-5 mt-5 mr-3 text-center" style="width: 90%;">
                <div class="p-2 pt-5 offset-0 ">
                    <p> THE STORY </p>
                    <i class="fa fa-angle-down pl-0" style="font-size:200%;"></i>

                </div>
            </footer>
        </div>
    </div>

    <!-- thegames -->
    <div class="container-fluid text-white theGames ">

        <div class="contentGames">
            <!-- text plus spacer -->
            <div class="row ml-5 pt-5">
                <div class="col-12 col-sm-6 mt-5">
                    <h6>What's so special?</h6>
                </div>
                <div class="col-6"></div>
            </div>

            <div class="row mx-5">
                <!-- spacer for text  -->
                <div class="col-4 col-sm-4 pr-0">
                    <h1>THE GAMES</h1>
                </div>
                <!-- space for carrousel -->
                <div class="col-8 col-sm-8 pl-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/rockpaperstrategy-1600.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/download.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/Dark-Knight-1600x900-HD-Background.jpg"
                                    alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- features -->
    <div class="container-fluid px-5 features">
        <!-- judul -->
        <div class="row">
            <div class="col-7">
                <!-- spacer saja -->
            </div>
            <div class="col-5 text-white mt-5">
                <h6>What's so Special</h6>
                <h1>FEATURES</h1>
            </div>
        </div>

        <!-- card collapse container -->
        <div class="row">
            <div class="col-7">

            </div>
            <div class="col-4 mr-1">
                <div id="accordion">
                    <div class="card border-0 bg-transparent">
                        <div class="card-header bg-transparent" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-warning" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    - TRADITIONAL GAMES
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show border-0 text-white" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                if you miss your childhood, we provide many traditional games here
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 bg-transparent">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-warning collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    - GAME SUIT
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse border-0 text-white" aria-labelledby="headingTwo"
                            data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, accusantium?
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 bg-transparent">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-warning collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    - TBD
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse border-0 text-white" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, tempore!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- requirements -->
    <div class="container-fluid pt-5 requirements">
        <!-- kata kata -->
        <div class="row text-white ml-3 mt-2">
            <div class="col-4  mt-5 ">
                <h1>System</h1>
            </div>
            <div class="col-8 mt-5 ">
                <p>Can My Computer Run this game?</p>
            </div>
        </div>

        <div class="row text-white ml-3">
            <div class="col-8 ">
                <h1>REQUIREMENTS</h1>
            </div>
            <div class="col-4">
                <p></p>
            </div>
        </div>
        <!-- end of kata kata -->

        <div class="content">
            <!-- card setting disini -->
            <div class="row pl-3">
                <div class="col-3 pr-0 pb-0">
                    <div class="card bg-transparent border-dark">
                        <div class="card-body text-dark">
                            <h5 class="card-title text-warning">OS:</h5>
                            <p class="card-text text-white">Windows 7 64-bit only (No OSX Support at this time)</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 pl-0 pr-0">
                    <div class="card bg-transparent border-dark">
                        <div class="card-body text-dark">
                            <h5 class="card-title text-warning">PROCESSOR:</h5>
                            <p class="card-text text-white">Intel Core 2 Duo @ 2.4 GHZ or AMD Athion X2 @ 2.8 GHZ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <!-- spacer aja -->
                </div>
            </div>

            <div class="row pl-3">
                <div class="col-3 pt-0 pr-0 pb-0">
                    <div class="card bg-transparent border-dark">
                        <div class="card-body text-dark">
                            <h5 class="card-title text-warning">MEMORY:</h5>
                            <p class="card-text text-white">4 GB RAM</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-0 pr-0  pl-0">
                    <div class="card bg-transparent border-dark">
                        <div class="card-body text-dark">
                            <h5 class="card-title text-warning">STORAGE:</h5>
                            <p class="card-text text-white">8 GB available space</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pl-3">
                <div class="col-6 pt-0 pr-0">
                    <div class="card bg-transparent border-dark">
                        <div class="card-body text-dark">
                            <h5 class="card-title text-warning">GRAPHICS :</h5>
                            <p class="card-text text-white">NVIDIA GeForce GTX 660 2GB or AMD RadeonHD 7850 2GB
                                DirectX11
                                (Shader Model 5)</p>
                        </div>
                    </div>
                </div>
                <div class="col-0">
                    <!-- spacer aja -->
                </div>
            </div>
        </div>

    </div>

    <!-- top Scores -->
    <div class="container-fluid pt-1 pb-5 topScores">

        <div class="row mx-3 my-5  align-items-center">
            <!-- text left -->
            <div class="col-5">
                <div class="card bg-transparent border-none text-white">
                    <div class="card-body">
                        <h1 class="card-title">TOP SCORES</h1>
                        <p class="card-text">This top score from various games provided on this platform</p>
                        <a href="#" class="btn btn-warning">See more</a>
                    </div>
                </div>
            </div>
            <!-- end text left -->

            <!-- card right  -->
            <div class="col-7">

                <div class="card mb-2 offset-3 bg-dark" style="width: 25rem;">
                    <div class="card-body ">
                        <img class="rounded-circle mr-4" src="img/evan.jpg" alt="" style="height:7vh;float:left;">
                        <h5 class="card-title text-warning ml-5"> Evan Lahti</h5>
                        <h6 class="card-subtitle text-muted  ml-5"> PC Gamer</h6>
                        <!-- </div> -->
                        <p class="card-text text-white pt-3">“One of my gaming highlights of the year.”</p>
                        <p class="card-text"><small class="text-muted">October 18, 2018</small></p>

                    </div>
                </div>

                <div class="card mb-2 bg-secondary bg-dark" style="width: 25rem;">
                    <div class="card-body ">
                        <img class="rounded-circle mr-4" src="img/jada.jpg" alt="" style="height:7vh;float:left;">
                        <h5 class="card-title text-warning ml-5"> Jada Griffin</h5>
                        <h6 class=" card-subtitle ml-5 text-muted"> Moderator</h6>
                        <!-- </div> -->
                        <p class="card-text text-white pt-3">“The next big thing in the world of streaming and
                            survival
                            games.”</p>
                        <p class="card-text"><small class="text-muted">October 18, 2018</small></p>

                    </div>
                </div>

                <div class="card mb-2 offset-2 bg-secondary bg-dark" style="width: 25rem;">
                    <div class="card-body ">
                        <!-- <div class="topScores" style="overflow: auto; float: left;height:10vh;"> -->
                        <!-- <img src="assets/avatar.png" alt=""> -->
                        <img class="rounded-circle mr-4" src="img/aaron.jpg" alt="" style="height:7vh;float:left;">
                        <h5 class="card-title text-warning ml-5"> Aaron Williams </h5>
                        <h6 class=" card-subtitle ml-5 text-muted">Uproxx</h6>
                        <!-- </div> -->
                        <p class="card-text text-white pt-3">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                            Ridiculous.”</p>
                        <p class="card-text"><small class="text-muted">October 18, 2018</small></p>

                    </div>
                </div>
            </div>

            <!-- End card right  -->
        </div>
    </div>

    <!-- newsLetter using grid-->
    <div class="container-fluid pt-5 newsLetter">
        <div class="row text-white pr-5">
            <div class="col-5">
            </div>
            <div class="col-7 display-4">
                NEWSLETTER SUBSCRIBE
            </div>
        </div>

        <div class="row text-white mt-5">
            <div class="col-6"></div>
            <div class="col-6">
                <h3>Want to stay in touch?</h3>
            </div>
        </div>

        <div class="row text-white mt-5">
            <div class="col-6"></div>
            <div class="col-6 pr-5">
                <p>In order to start receiving our news, all you have to do is enter your email address. Everything
                    else
                    will be taken care of by us. We will send you emails containing information about game. We don’t
                    spam.
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6"></div>
            <div class="col-6">
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">text</label>
                        <input type="email" class="form-control bg-dark" id="email" placeholder="youremail@binar.co.id">
                    </div>
                    <button type="submit" class="btn btn-warning mb-2">Subscribe now</button>
                </form>
            </div>

        </div>

        <!-- footer -->
        <footer class="footer mx-5 mt-5 mb-0 mr-3 text-right" style="width: 90%;">
            <div class="card-footer ">
                <div class="container-fluid text-monospace  kaki" style="font-size: 0.8rem;width:100%">
                    <a href="#" class="text-decoration-none text-white">MAIN</a>
                    <a href="#" class="text-decoration-none text-white">ABOUT GAME</a>
                    <a href="#" class="text-decoration-none text-white">FEATURES</a>
                    <a href="#" class="text-decoration-none text-white">SYSTEM REQUIREMENTS</a>
                    <a href="#" class="text-decoration-none text-white">QUOTES</a>
                    <a href="#" class="text-decoration-none fa fa-facebook" aria-hidden="true"></a>
                    <a href="#" class="text-decoration-none fa fa-twitter" aria-hidden="true"></a>
                    <a href="#" class="text-decoration-none text-white fa fa-youtube-play " aria-hidden="true"></a>
                    <a href="#" class="text-decoration-none text-white  fa fa-twitch" aria-hidden="true"></a>
                </div>

                <hr class="border-white mt-4 my-0">

                <div class="row mt-3 mb-0">
                    <div class="col-6">
                        <div class="text-muted p-2 w-100 order-0 text-left"
                            style="text-align:center;font-size: 0.8rem;">
                            © 2018 Your Games, Inc. All Rights Reserved
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-white p-2 w-100 order-1 text-right" style="font-size: 0.8rem;">
                            Privacy Policy | Terms of Services | Code of Conduct
                        </div>
                    </div>
                </div>

            </div>
        </footer>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

</body>

</html>