<%- include('layouts/header') %>
    <%- include('layouts/nav') %>

        <div class="container">
            <form method="POST" action="/login">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-4">
                        <div class="card">

                            <div class="card-header bg-transparent mb-0">
                                <h5 class="text-center">Please LOGIN
                                </h5>
                            </div>

                            <div class="card-body">
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" name="user_name" id="user_name" class="form-control"
                                            placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control"
                                            placeholder="Password">
                                    </div>

                                    <div class="form-group pt-2">
                                        <input type="submit" name="submit" value="Login"
                                            class="btn btn-primary btn-block">
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>
            </form>
        </div>

        <%- include('layouts/footer') %>