<%- include('layouts/header') %>
    <%- include('layouts/nav') %>
        <div class="card-header bg-transparent mb-0">
            <h5 class="text-center">Registration Form
            </h5>
        </div>
        <div class="container">
            <form action="/register" method="POST">
                <div class="form-group mt-4">
                    <label for="user_name">User Name :</label>
                    <input type="text" class="form-control" name="user_name" id="user_name" placeholder="username">

                </div>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Register Me!</button>
            </form>
        </div>

        <% if(locals.email && locals.password) { %>
            <div>
                <label>
                    <%= email %>
                </label>
                <label>
                    <%= password %>
                </label>
            </div>
            <% } %>

                <%- include('layouts/footer') %>