<%- include('layouts/header') %>
    <%- include('layouts/nav') %>

        <div class="container">
            <h4 class="my-3"> Welcome, <%= user_name %>
            </h4>
        </div>
        <%- include('layouts/footer') %>