<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>


        <div class="container">
            <h4 class="my-3"> Create New User : </h4>

            <form method="POST" action="/create">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="user_name" id="user_name" placeholder="UserName"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="text" name="email" id="email" placeholder="email" class="form-control"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="password" placeholder="password"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="date" name="dob" id="dob" placeholder="Date" class="form-control">
                        </div>

                        <select class="form-control" name="active" id="active">

                            <option selected value="0">Status</option>
                            <option value="1">Active</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-block mt-3">Create</button>

                        <a class="btn btn-info btn-block mt-3" href="/users" role="button">Users List</a>
                    </div>
                </div>





            </form>
        </div>
        <br>


        <%- include('../layouts/footer') %>