<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>

        <div class="container">

            <h4 class="my-3">Users Details :</h4>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date of Birth</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">
                            <%= detail.id %>
                        </th>
                        <td>
                            <%= detail.user_name %>
                        </td>
                        <td>
                            <%= detail.email %>
                        </td>
                        <td>
                            <%=detail.active==1 ? "Active" : "Disabled" %>
                        </td>
                        <td>
                            <%= detail.dob %>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

        <br>
        <div class="container">
            <a class="btn btn-info" href="/users" role="button">User List</a>
        </div>

        <%- include('../layouts/footer') %>