<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>
        <div class="container">

            <h4 class="my-3">Users list</h4>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach( user=> { %>
                        <tr>
                            <th scope="row">
                                <%= user.id %>
                            </th>
                            <td>
                                <%= user.user_name %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%=user.active==1 ? "Active" : "Disabled" %>
                            </td>

                            <td>
                                <a class="btn btn-success" href="details/<%= user.id %>" role="button">Details</a>
                                <a class="btn btn-warning" href="update/<%= user.id %>" role="button">Update</a>
                                <a class="btn btn-danger" href="delete/<%= user.id %>" role="button">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <br>
        <div class="container">
            <a class="btn btn-info" href="/new" role="button">Create</a>
        </div>

        <%- include('../layouts/footer') %>