<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>

        <div class="container">
            <h4 class="my-3">Update User :</h4>

            <form method="POST" action="/update">
                <div class="row">
                    <div class="col-md-6">

                        <input type="text" name="id" id="id" value="<%=data.id%>" hidden>

                        <div class="form-group">
                            <input type="text" name="user_name" id="user_name" placeholder="UserName"
                                class="form-control" value="<%=data.user_name%>">
                        </div>

                        <div class="form-group">
                            <input type="text" name="email" id="email" placeholder="email" class="form-control"
                                aria-describedby="emailHelp" value="<%=data.email%>">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="password" placeholder="password"
                                class="form-control" value="<%=data.password%>">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="date" value="<%= moment(data.dob).format("YYYY-MM-DD")
                                %>" name="dob"
                            id="dob">

                        </div>
                        <div class="form-group">
                            <select class="form-control" name="active" id="active">

                                <option selected value="<%=data.active%>">
                                    <%= data.active==1 ? "Active" : "Disabled" %>
                                </option>
                                <option value="1">Active</option>
                                <option value="0">Disabled</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-warning btn-block">Update</button>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-info" href="/users" role="button">Cancel</a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <%- include('../layouts/footer') %>