<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>

        <div class="container">

            <h1>Match Details</h1>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">match id</th>
                        <th scope="col">Player One</th>
                        <th scope="col">Player One Select</th>
                        <th scope="col">Player Two</th>
                        <th scope="col">Player Two Select</th>
                        <th scope="col">Result</th>
                        <th scope="col">Date</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">
                            <%= data.id %>
                        </th>
                        <td>
                            <%= data.playerOneData.user_name %>
                        </td>
                        <td>
                            <%= data.playerOneSelect %>
                        </td>
                        <td>
                            <%= data.playerTwoData.user_name%>
                        </td>
                        <td>
                            <%= data.playerTwoSelect %>
                        </td>
                        <td>
                            <%= data.result %>
                        </td>
                        <td>
                            <%= data.createdAt %>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <br>
        <div class="container">
            <a class="btn btn-info" href="/match" role="button">Back</a>
        </div>

        <%- include('../layouts/footer') %>