<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>


        <div class="container">
            <h4 class="my-3">Update Match :</h4>
            <form method="POST" action="/match/update">
                <input type="text" class="invisible" name="id" id="id" value="<%=match.id%>">
                <div class="row">
                    <div class="col-md-6">
                        First Player :
                    </div>
                    <div class="col-md-6">
                        Player Two :
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-3">

                        <select class="form-control" name="playerOne" id="playerOne">

                            <option selected value="<%= match.playerOne %>">
                                <%= match.playerOneData.user_name %>
                            </option>

                            <% user.forEach(userName=> { %>
                                <option value="<%= userName.id%>">
                                    <%= userName.user_name%>
                                </option>
                                <% }) %>

                        </select>


                        <select class="form-control" name="playerOneSelect" id="playerOneSelect">

                            <option selected value="<%= match.playerOneSelect %>">
                                <%= match.playerOneSelect %>
                            </option>
                            <option value="Rock">Rock</option>
                            <option value="Paper">Paper</option>
                            <option value="Scissors">Scissors</option>
                        </select>
                    </div>

                    <div class="col-md-6 mt-3">

                        <select class="form-control" name="playerTwo" id="playerTwo">

                            <option selected value="<%= match.playerTwo %>">
                                <%= match.playerTwoData.user_name %>
                            </option>

                            <% user.forEach(userName=> { %>
                                <option value="<%= userName.id%>">
                                    <%= userName.user_name%>
                                </option>
                                <% }) %>

                        </select>

                        <select class="form-control" name="playerTwoSelect" id="playerTwoSelect">

                            <option selected value="<%= match.playerTwoSelect %>">
                                <%= match.playerTwoSelect %>
                            </option>
                            <option value="Rock">Rock</option>
                            <option value="Paper">Paper</option>
                            <option value="Scissors">Scissors</option>
                        </select>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        Update Venue :
                        <select class="form-control" name="venue" id="venue">

                            <option selected value="<%= match.venueData.id %>">
                                <%= match.venueData.venue %>
                            </option>
                            <% venues.forEach(venue=> { %>
                                <option value="<%= venue.id%>">
                                    <%= venue.venue%>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        Change Result :
                        <select class="form-control" name="result" id="result">

                            <option selected value="<%=match.result%>">
                                <%=match.result%>
                            </option>
                            <option value="Player One Win">Player One Win</option>
                            <option value="Player Two Win">Player Two Win</option>
                            <option value="Draw">Draw</option>
                        </select>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Update Match !</button>
            </form>
        </div>
        <br>
        <div class="container">
            <a class="btn btn-info" href="/match" role="button">Match History</a>
        </div>

        <%- include('../layouts/footer') %>