<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>
        <div class="container">

            <h4 class="my-3">Match History : </h1>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Player One</th>
                            <th scope="col">Player One Select</th>
                            <th scope="col">Player Two</th>
                            <th scope="col">Player Two Select</th>
                            <th scope="col">Result</th>
                            <th scope="col">Venue</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% matchs.forEach( match=> { %>
                            <tr>
                                <th scope="row">
                                    <%= match.id %>
                                </th>
                                <td>
                                    <%= match.playerOneData.user_name %>
                                </td>
                                <td>
                                    <%= match.playerOneSelect %>
                                </td>
                                <td>
                                    <%= match.playerTwoData.user_name %>
                                </td>
                                <td>
                                    <%= match.playerTwoSelect %>
                                </td>
                                <td>
                                    <%= match.result %>
                                </td>
                                <td>
                                    <%= match.venueData.venue %>
                                </td>
                                <td>
                                    <a class="btn btn-success" href="match/details/<%= match.id %>"
                                        role="button">Details</a>
                                    <a class="btn btn-warning" href="match/update/<%= match.id %>"
                                        role="button">Update</a>
                                    <a class="btn btn-danger" href="delete/<%= match.id %>" role="button">Delete</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
        </div>

        <br>
        <div class="container">
            <a class="btn btn-info" href="/match/new" role="button">Create Match</a>
        </div>

        <%- include('../layouts/footer') %>