<%- include('../layouts/header') %>
    <%- include('../layouts/nav') %>


        <div class="container">
            <h4 class="my-3">Create Match :</h4>
            <form method="POST" action="/match">
                <div class="row">
                    <div class="col-md-6">
                        First Player :
                    </div>
                    <div class="col-md-6">
                        Player Two :
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-3">
                        <select class="form-control" name="playerOne" id="playerOne">

                            <option selected value="0">Select User</option>
                            <% data.forEach(userName=> { %>
                                <option value="<%= userName.id %>">
                                    <%= userName.user_name %>
                                </option>
                                <% }) %>
                        </select>

                        <select class="form-control" name="playerOneSelect" id="playerOneSelect">

                            <option selected value="0">Select Hand</option>
                            <option value="Rock">Rock</option>
                            <option value="Paper">Paper</option>
                            <option value="Scissors">Scissors</option>
                        </select>
                    </div>

                    <div class="col-6 mt-3">
                        <select class="form-control" name="playerTwo" id="playerTwo">

                            <option selected value="0">Select User</option>
                            <% data.forEach(userName=> { %>
                                <option value="<%= userName.id%>">
                                    <%= userName.user_name%>
                                </option>
                                <% }) %>
                        </select>

                        <select class="form-control" name="playerTwoSelect" id="playerTwoSelect">

                            <option selected value="0">Select Hand</option>
                            <option value="Rock">Rock</option>
                            <option value="Paper">Paper</option>
                            <option value="Scissors">Scissors</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        select Venue :
                        <select class="form-control" name="venue" id="venue">

                            <option selected value="0">Select Venue</option>
                            <% venues.forEach(venue=> { %>
                                <option value="<%= venue.id%>">
                                    <%= venue.venue%>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-block">Generate !</button>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-info btn-block" href="/match" role="button">Match History</a>
                    </div>
                </div>

            </form>
        </div>


        <%- include('../layouts/footer') %>