.gamePage{
    background-color: #9C835F;
    height: 100vh;
    /* height: auto; */
}
.img-thumbnail{
    background-color: #9C835F;
}


.selected{
    border-radius: 5px;
    background-color: rgb(170, 169, 169);
    padding:10px;
}

.img-fluid{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top:25px;
    
}

.player-win,.COM-win,.Draw {
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    color: white;
    font-size: 50px;
    padding: 10px;
    width: fit-content;
    /* text-align: center; */

    align-content: center;
}

.versus {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
}

.refreshBtn{
    width: 50px;
    height: 50px;
}

.playerBatu:hover, .playerKertas:hover, .playerGunting:hover, #refreshBtn:hover,.active {
    box-shadow: 0 0 10px 5px rgb(170, 169, 169);
    background-color: rgb(170, 169, 169);
    padding:10px;
}

