.mainPage{
    background-image: url("/img/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position:center center; */
    /* background-attachment:fixed; */
    /* padding:25px; */
    /* width: 100vw; */
    height: 120vh;
}

/* .card{
    max-width: 18rem;
} */

.theGames {
    background-image: url("/img/the-games-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* color: white */
    
}
.contentGames{
    place-content:center;
}

.features {
    background-image: url("/img/features.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.requirements {
    background-image: url("/img/requirements.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;

}

.topScores {
    background-image: url("/img/top-scores.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;

}

.newsLetter {
    background-image: url("/img/newsLetter.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    background-color: black;

}

.navbar {
    opacity: .6;
    font-size: 14px;
}

/* .footer{
 
    bottom:0;
    width:90%;
    height:2.5rem;
    height:100%;
    position: fixed;
} */

::placeholder{
    color:yellow;
}

.kaki a,i{
    padding-left: 50px;
    /* background-color: turquoise; */
    /* align-content: center; */

}
/* .btn-link{
    text-color: rgba(255, 181, 72, 1);
} */